<!-- <div class="div1">
    <span a routerLink="/todo" routerLinkActive="active"> To Do List</span>
    <span class="span1" a routerLink="/Contact" routerLinkActive="active"> Contact </span>
    <span class="span1"a routerLink="/About" routerLinkActive="active"> About</span>
</div> -->
<!-- <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/todo">To Do List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/About">About</a>
        </li>
  
      </ul> -->

<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#" routerLinkActive="active">To-Do-List-Demo</a>
    <div class="collapse navbar-collapse " id="navbarCollapse" >
        <span a routerLink="/todo" routerLinkActive="active"> To Do List</span>
        <span class="span1" a routerLink="/Contact" routerLinkActive="active"> Contact </span>
        <span class="span1"a routerLink="/About" routerLinkActive="active"> About</span>
        <br> 
    </div>
  </nav> 
  <br><br> -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Live</a>
    </div>
    <a routerLink="todo" routerLinkActive="active"> To Do List</a>
    <a routerLink="Contact" routerLinkActive="active"> Contact </a>
    <a routerLink="About" routerLinkActive="active"> About</a>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Live</a>
  <div class="collapse navbar-collapse" id="navBarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="todo" routerLinkActive="active"> To Do List</a>
      </li>
      <li class="nav-item">
        <a routerLink="Contact" routerLinkActive="active"> Contact </a>
      </li>
      <li class="nav-item">
        <a routerLink="About" routerLinkActive="active"> About</a>
      </li>
    </ul>
  </div>
</nav>